<ion-pane >
	<ion-content scroll="false">
		<section class="debtSummaryRecentActivity">
            <div class="row debtSummarySectionHeader row-center bar-balanced ">
			
						<div class="alignleft"></div>
						<div class="aligncenter">Recent Activity</div>
						<div class="alignright"><a href="#/app/transactionList" class="button icon-center ion-social-usd-outline"></a></div>
            </div>
				<div class="row debtSummaryColHeader no-padding">
					<div class="col col-15 debtSummaryColumnHeader text-left">Date</div>
                    <div class="col col-60 debtSummaryColumnHeader text-left">Description</div>
                    <div class="col col-12 debtSummaryColumnHeader text-left">Amount</div>
                    <div class="col col-13 debtSummaryColumnHeader text-right">Balance</div>
                </div>  
			<ion-scroll direction="y" style="height: 40vh">
                <ion-item
                    ng-repeat="transaction in transactions"
					ng-click="selectTransaction(transaction)"
					//collection-item-height="getTransactionHeight(transaction, $index)"
					class="debtSummaryRowText"
                >
                        <div class="row row-center">
                            <div class="col col-15">{{transaction.transactionPostedDate |  date:'MMM dd, yyyy'}}</div>
                            <div class="col col-60 item-text-wrap">{{transaction.transactionDescription}}</div>
                            <div class="col col-12">{{returnCurrencyAmount(transaction.transactionAmount)}}</div>
                            <div 
                                 ng-class="{'negativeNumber col col-13 text-right': transaction.transactionPersonAmounts[0].runningBalance.balanceAmount > 0, 'positiveNumber col col-13 text-right': transaction.transactionPersonAmounts[0].runningBalance.balanceAmount <= 0} ">
                                {{returnCurrencyAmount(transaction.transactionPersonAmounts[0].runningBalance.balanceAmount)}}
                            </div>
                        </div>
                </ion-item>
            </ion-scroll>
        </section>
		<section class="debtSummarySettleUp">
            <div class="row debtSummarySectionHeader row-center bar-royal ">
				<div class="alignleft"></div>
				<div class="aligncenter">Settle Up</div>
				<div class="alignright"><a href="#/app/personList" class="button icon-center ion-person-stalker"></a></div>
            </div>
				
				<div class="row row-center debtSummaryColHeader no-padding">
					<div class="col col-15 text-left debtSummaryColumnHeader">Group</div>
					<div class="col col-72 text-left debtSummaryColumnHeader">Description</div>
					<div class="col col-13 text-right debtSummaryColumnHeader">Amount</div>
                </div>
				<div class="card" ng-if="settleUps.length == 0">
					<div class="alignleft"></div>
					<div class="aligncenter debtSummaryColHeader positiveNumber" >
						All Settled Up!
					</div>
					<div class="alignright"></div>
				</div>
                <ion-scroll direction="y" style="height: 30vh">  
					<ion-item 
						ng-repeat="settleUp in settleUps" 
						ng-click="selectSettleUp(settleUp)"
						class="debtSummaryRowText">
                        <div class="row row-center">
                            <div class="col col-15 text-left">{{settleUp.group.groupShortName}}</div>
                            <div class="col col-72 text-left item-text-wrap">{{settleUp.debtSettleUpPayer.name}} should pay     {{settleUp.debtSettleUpPayee.name}}</div>
                            <div class="col col-13 text-right">{{returnCurrencyAmount(settleUp.debtSettleUpAmount)}}</div>
                        </div>
                  </ion-item>
				</ion-scroll>
				</ion-list>
				
		</section>
      
      
  </ion-content>
</ion-pane>