<ion-side-menus>
    <ion-side-menu-content>
          <ion-nav-bar class="bar-positive" >
			  
		  <ion-nav-buttons side="left">
              
			<button class="button button-icon button-clear ion-navicon " menu-toggle="left">
			</button>
              
		  </ion-nav-buttons>
           
              <ion-nav-buttons side="right">
              <!--Adding a comment 2 3-->
              
			  <div id="backButton" class="button icon-center ion-arrow-left-a" ng-click="myGoBack()" ng-show="showHide()"></div> 
		  </ion-nav-buttons>
      
    </ion-nav-bar>
        
       <ion-header-bar class="bar-positive ">
           
	   
           <div class="alignleft25"></div>
        <div class="aligncenter50" ng-class="{'negativeNumber': $rootScope.activeGroup.persons[0].latestBalance.balanceAmount > 0, 'positiveNumber': $rootScope.activeGroup.persons[0].latestBalance.balanceAmount <= 0} ">
			<div class ="activeGroupTitle ">{{menuTitleGroup}} <br></div>			
			<div ng-class="{'negativeNumber': $rootScope.activeGroup.persons[0].latestBalance.balanceAmount > 0, 'positiveNumber': $rootScope.activeGroup.persons[0].latestBalance.balanceAmount <= 0} ">
			{{menuTitleBalance}}</div>
		</div>
           <div class="alignright25"></div>
           
		
	
      </ion-header-bar>
       
       <ion-nav-view name="menuContent"></ion-nav-view> 
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" expose-aside-when="large">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Groups </h1>
      </ion-header-bar>
        <ion-content>
          <!--<img ng-src="{{getCoverImageSrc(coverPhotoUrl)}}"></img>-->
		  <ion-scroll direction="y" style="height: 90vh">
		  <ion-list>
              <ion-item 
                        collection-repeat="group in groups" 
                        ng-click="selectGroup(group)" 
                        menu-close
                        ng-class="{energized:group==activeGroup}"
						class="groupsMenuRowText"
                        >
				<div class="row row-center">
						<div class="col col-70 text-left ">{{group.groupName}}</div>						
						<div class="col col-30 text-right "
						ng-class="{'negativeNumber': group.persons[0].latestBalance.balanceAmount > 0, 'positiveNumber': group.persons[0].latestBalance.balanceAmount <= 0} ">
						{{returnCurrencyAmount(group.persons[0].latestBalance.balanceAmount)}}</div>
                </div>
				
				
              </ion-item>
          </ion-list>
		  </ion-scroll>
      </ion-content>
    </ion-side-menu>
      </ion-side-menus>
	  